.dashboard-top-cards {
    background-color: white;
    width: 100%;
    min-height: 13rem;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
}

.dash-top-card-img {
    background-color: rgba(88, 132, 255, 0.7);
}

.home-table {
    background-color: white;
    width: fit-content;
    width: 100%;
    height: fit-content;
    height: 100%;
    border-radius: 60px;
    padding: 10px;
    margin-top: 0.3rem;
    /* max-width:10rem; */
    /* max-height:10rem; */
}
.bottom-pagination{
    margin: auto auto;
    margin-top:2rem;
    background-color: #F8F8F8;
    background-color: rgb(88, 132, 255 , 0.1);
    width:95%;
    height:3rem;
    justify-content: center;
    border-radius: 10px;
}
.home-table2 {
    /* background: linear-gradient(180deg, #005EE2, #5884FF); */
    /* padding: 0 20px; */
    width: fit-content;
    width: 100%;
    height: fit-content;
    height: 100%;
    border-radius: 18px;
    z-index: 1;
    /* padding: 10px; */
    /* max-width:10rem; */
    /* max-height:10rem; */
}



.left-rounded {
    border-radius: 10px 0px 0px 0px;
}

.right-rounded {
    border-radius: 0px 10px 0px 0px;
}

.dash-table1 {
    text-align: center;
}

.dash-table1>tr>th:first-child {
    border-radius: 15px 0px 0px 0px;
}

.dash-table1>tr>th:last-child {
    border-radius: 0px 15px 0px 0px;
}
.dash-table1>tr:first-child>td {
    background-color: rgba(88, 132, 255, 0.3);
    /* background-color: red; */
}

.dash-table1>tr:first-child>th {
    background-color: rgba(88, 132, 255, 0.3);
    /* background-color: red; */
}
.dash-table1>tr{
    border: none;
}
.home-table2-type3 {
    /* background: linear-gradient(180deg, #fbfcff, #e7edff); */
    margin: auto;
    margin-top: 40px;
    /* padding: 0px 20px; */
    width: 84%;
    max-width: 800px;
    min-width: 700px;
    height: fit-content;
    border-radius: 18px;
    /* background-color: ; */
    box-shadow: 0px 0px 1px 1px #5884FF;

}

@media screen and (max-width:500px) {
    .home-table2-type3 {
        min-width: 370px;
        max-width: 470px;
    }
}

@media screen and (max-width:600px) {
    .home-table2-type3 {
        min-width: 470px;
        max-width: 570px;
    }
}

@media screen and (max-width:470px) {
    .home-table2-type3 {
        min-width: 370px;
        max-width: 400px;
    }
}

@media screen and (max-width:380px) {
    .home-table2-type3 {
        min-width: 270px;
        max-width: 360px;
    }
}

.home-table2-type2 {
    background: #F4F6FC;
    width: fit-content;
    width: 100%;
    height: fit-content;
    height: 100%;
    border-radius: 18px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    /* padding: 10px; */
    /* max-width:10rem; */
    /* max-height:10rem; */
}

.home-table2-sub {
    /* background: linear-gradient(180deg, #005EE2, #5884FF); */
    border-radius: 17px 17px 0px 0px;
    display: none; 
    /* background-color: red; */
}

.dash-table1>tr:nth-child(odd) {
    background-color: rgba(88, 132, 255,0.1);
    /* background-color: rgba(178, 188, 226, 0.1); */
}

.dash-table1>tr {
    height: 3rem;
}


.dash-table1>tr>td {
    padding-left: 10px;
    height: 2.1rem;
    font-size: 15px;
}

.home-gt-btn {
    /* background: linear-gradient(180deg, #CED6FF, #808498) bottom; */
    padding: 2px 7px;
    text-align: center;
    /* width: 1.8rem; */
    display: block;
}

.home-pagination {
    padding: 2px 7px;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    color: black;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 3px;
    border: solid 1px #5884FF;
    background-color: rgba(88, 132, 255, 0.1);
}

.home-pagination-active {
    background-color: #5884FF;
    padding: 2px 7px;
    text-align: center;
    color: white;
    width: 1.8rem;
    display: block;
}

.custom_table td , th{
    /* border: 2px solid #cbd5e0; */
    @apply border border-gray-400;
    @apply p-1.5;

}

.custom-shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Bottom */
    0 -4px 8px rgba(0, 0, 0, 0.1), /* Top */
    4px 0 8px rgba(0, 0, 0, 0.1),  /* Right */
   -4px 0 8px rgba(0, 0, 0, 0.1);  /* Left */
}

.table-scroll{
    @apply w-full;
    @apply h-[464px];
    @apply overflow-y-auto;
}